* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arketa';
    text-decoration: none;
    font-size: 12px;
    font-style: normal;
    letter-spacing: -1;
    font-size: 0.6vw;
    transition: all 0.5s ease-out;
    color: black;
}
::-webkit-scrollbar {
    display: none;
}
img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
video {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}


/* typography rules */
@font-face {
    font-family: 'arketa';
    src: url(assets/OOArketaTrial-Regular.otf);
}
@font-face {
    font-family: 'Kolonia-regular';
    src: url(assets/KoloniaTrial-Regular.woff);
}
@font-face {
    font-family: 'Kolonia-italic';
    src: url(assets/KoloniaTrial-Italic.woff2);
}
/* time stamp */
.stamp {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    padding: 12px 24px;
}


/* navigation */
nav {
    position: fixed;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 12px 24px;
    justify-content: space-between;
}


.title {
     margin-bottom: 48px;
}
.underline {
    text-decoration: underline;
    text-transform: capitalize;
}
.textdiv a {
    color: black;
}
nav a:hover {
    opacity: 0.5;
    transition-property: opacity;
    text-decoration: none;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: row;
    gap: 0;
    padding: 24px;
}

.textdiv {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

.images {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 0.5px solid black;*/
}


/* grid */
#containergrid {
    height: 100vh;
    width: 100vw;
    padding: 48px 0px;
    display: flex;
    flex-direction: row;
    gap: 2px;
}
.grid-element {
    flex: 1;
    -webkit-transition: flex 2s ease-out;
    -moz-transition: flex 2s ease-out;
    -ms-transition: flex 2s ease-out;
    -o-transition: flex 2s ease-out;
    transition: flex 2s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-element:hover{
    flex: 10;
}

.project {
    display: none;
    position: absolute;
    color: whitesmoke;
    font-size: 1rem;
    transition: all 3s ease-out;
}
.active {
    display: flex;

}