
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'social';
    text-decoration: none;
    font-family: 'social-regular';
    letter-spacing: -1px;
    cursor: pointer;
    font-size: 12px;
}
:root {
    --vsblue:#427097;
    --vspink:#c483bf;
    --vsyellow:#dcdcaa;
    --highlightblue:#5190d9;
    --highlightpink:#feceeb;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    background-repeat: no-repeat;
}

html, body {
    width: 100%;
    height: 100%;
}

.vsblue {
    font-family: inherit;
    font-size: inherit;
    color: var(--vsblue);
}

.vspink {
    font-family: inherit;
    font-size: inherit;
    color: var(--vspink);
}

@font-face {
    font-family: 'social-medium';
    src: url('assets/ABC Social Mono/ABCSocialMono-Medium-Trial.otf');
}
@font-face {
    font-family: 'social-regular';
    src: url('assets/ABC Social Mono/ABCSocialMono-Regular-Trial.otf');
}
@font-face {
    font-family: 'social-light';
    src: url('assets/ABC Social Mono/ABCSocialMono-light-Trial.otf');
}

/* homepage */
::-webkit-scrollbar {
    display: none;
}

.progressbars {
    position: fixed;
}
.progresswrapper {
    width: 4px;
    position: fixed;
    top: 0;
    right: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.progressbar {
    width: 4px;
    background-color: rgb(128, 128, 128);
    height: 1%;
    z-index: 1;
    opacity: 0.1;
}

.progresswrapper.two {
    width: 4px;
    position: fixed;
    top: 0;
    right: 25%;
    transform: rotate(35deg);
    transform-origin: top left;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.progressbar.two {
    width: 4px;
    background-color: var(--vsblue);
    opacity: 0.1;
    height: 1%;
    z-index: 1;
}

.progresswrapper.three {
    width: 12px;
    position: fixed;
    top: 0;
    left: 5%;
    transform: rotate(-45deg);
    transform-origin: top left;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.progressbar.three {
    width: 4px;
    background-color: var(--vspink);
    opacity: 0.1;
    height: 1%;
    z-index: 1;
}
.progresswrapper.four {
    width: 8px;
    position: fixed;
    top: 0;
    left: 65%;
    transform: rotate(45deg);
    transform-origin: top left;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.progressbar.four {
    width: 4px;
    background-color: var(--vsyellow);
    opacity: 0.1;
    height: 1%;
    z-index: 1;
}

.menu {
    display: flex;
    flex-direction: column;
}
.menu a {
    color: black;
    opacity: 0.5;
    font-size: 1rem;
}

.menu a:hover {
    opacity: 1;
    transition: ease 0.5s;
}
a.active {
    opacity: 1;
    text-decoration: line-through;
    color: var(--vsblue);
    transition: 2s;
}

.opening {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    z-index: 15;
    gap: 12px;

}
.update {
    font-size: 1rem;
    font-family: 'social-regular';
    opacity: 0.7;
    pointer-events: none;
    position: fixed;
    bottom: 24px;
    right: 24px;
    color: black;
}
.opening h1 {
    width: fit-content;
    font-size: 1.5rem;
}
.update {
    font-size: 1rem;
}

#lastModified {
    font-size: 1rem;
    font-family: 'social-light';
    color: black;
    opacity: 0.7;
    pointer-events: none;
}

h1 {
    font-size: 1rem;
    color: black;
}

.title {
    position: fixed;
    top: 24px;
    left: 24px;
    font-size: 1.5rem;
    color: black;
}

.bottomnav {
    z-index: 4;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 12px 24px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: flex-start;
    align-items: center;
}


.bottomnav a{
    opacity: 0.5;
    color: black;
}

.bottomnav a.active {
    opacity: 1;
}
.pagewrapper {
    min-height: 200vh;
    width: 100%;
}


.stickywrapper {
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stickytext {
    z-index: 5;
    flex: 0.3;
    height: 100vh;
    padding: 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 42px;
    justify-content: space-around;
    position: sticky;
    top: 96px;
    bottom: 96px;
    left: 0;
}
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 96px;
    height: auto;
    width: 100%;
}



section {
    position: relative;
    min-height: 100dvh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    gap: 48px;
}

.diagram {
    min-height: 800px;
}

.hito {
    width: 100%;
    min-height: 513px;
}

.words {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    width: 75%;
    height: auto;
}
.images {
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: flex-start;

}


.words h2 {
    position: sticky;
    top: 24px;
    bottom: 96px;
    font-family: 'social-medium';
    font-size: 1.5rem;
    text-transform: uppercase;
}
p {
    padding-top: 12px;
    font-family: 'social-regular';
    font-size: 1.2rem;
    max-width: 75%;
}
.nosticky {
    position: static;
}





.little {
    font-size: 9px;
    font-family: 'social-light';
}



/* gallery */
.gbody {
    overflow: hidden;
    width: 100%;
    height: 100%;
    
}

.buttons {
    position: fixed;
    left: 50%;
    bottom: 2em;
    transform: translateX(-50%);
    padding: 8px 16px;
    display: flex;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    z-index: 2;
}
.buttons button {
    background: none;
    outline: none;
    opacity: 1;
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-size: 12px;
    transition: 0.5s opacity;
    pointer-events: all;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    transition: ease 1s;
}

button.active { 
    opacity: 0.5;
    pointer-events: none;
}
.gallery {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    padding: 4px;
    transform-origin: center center;
    will-change: transform;
}

.img {
    width: calc((100% - 236px) / 60);
    transform: scale(1);
    transition: center center;
    will-change: transofrm ;
    pointer-events: none;
}

#drag-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    touch-action: none;
    z-index: 1;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150vw;
    height: 150vh;
    overflow: visible;
}

