:root {
  /* color variables */
  --pink:#FD02B2;
  --orange:#FD9600;
  --purple:#9751BD;
  --green:#688600;
  --blue:#058CFC;
  --grey:#E8E2DF;
  --black:#000000;
  --white:#FFFFFF;

  /* typography */
  --small: 80px;
  --body: 96px;
  --H6: 115px;
  --H5: 128px;
  --H4: 186px;
  --H3: 199px;
  --H2: 239px;
  --H1: 286px;
}
* {
  line-height: 0.8;
  letter-spacing: 0;
}
::-webkit-scrollbar {
  display: none;
}

/*typography added*/
@font-face {
  font-family: 'Diatype-Thin';
  src: url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Thin-Trial.woff2') format('woff2'),
       url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Thin-Trial.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Diatype-Light';
  src: url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Light-Trial.woff2') format('woff2'),
       url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Light-Trial.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Diatype-Regular';
  src: url('/assets/type/ABC Diatype IRP/ABCDiatype-Regular-Trial.woff2') format('woff2'),
       url('/assets/type/ABC Diatype IRP/ABCDiatype-Regular-Trial.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Diatype-Medium';
  src: url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Medium-Trial.woff2') format('woff2'),
       url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Medium-Trial.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Diatype-Bold';
  src: url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Bold-Trial.woff2') format('woff2'),
       url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Bold-Trial.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Diatype-Heavy';
  src: url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Heavy-Trial.woff2') format('woff2'),
       url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Heavy-Trial.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Diatype-Black';
  src: url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Black-Trial.woff2') format('woff2'),
       url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Black-Trial.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Diatype-Ultra';
  src: url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Ultra-Trial.woff2') format('woff2'),
       url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Ultra-Trial.woff') format('woff');
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}



/*text-highligght classes*/
.highlight {
  font-family: inherit;
  display: inline-block;
  padding: 2px 6px;
  margin: 1px;
  font-family: inherit;
  line-height: inherit;
  font-size: var(--body);
  position: relative; /* Important for containing absolute positioned children */
}
.highlight.pink {
  background-color: var(--pink);
}
.highlight.orange {
  background-color: var(--orange);
}
.highlight.purple {
  background-color: var(--purple);
}
.highlight.green {
  background-color: var(--green);
}
.highlight.blue {
  background-color: var(--blue);
}





html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    color: white;
  }
  #poster1wrapper {
    position: static;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    pointer-events: none;
  }
  .words-wrapper {
    font-family: 'Diatype-Regular', sans-serif;
    gap: 4px;
    max-width: 99vw;
    max-height: 99vh;
    overflow: hidden;
    z-index: 2;
    word-wrap: break-word;
    scroll-behavior: smooth; /* Smooth scrolling animation */
    overflow-y: scroll;     /* Force scrollbar */
    overflow-x: hidden;
  }
  canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
  }

  h1 {
    font-size: 26px;
    font-family: 'Diatype-Regular';
    letter-spacing: var(--spacing-one);
    display: inline;
  }
  .animated-text {
    display: inline-block; /* Critical for GSAP transforms */
    transform-origin: center center;
    will-change: transform;
  }
  