* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.8rem;
    font-family: 'arketa';
    text-decoration: none;
    line-height: 1rem;
}

body {
    background-color: var(--mainwhite);
}

/* no scrollbar */
::-webkit-scrollbar {
    display: none;
}
:root {
    --mainblack: #020305;
    --mainwhite: #F5F5F7;
    --shadedwhite: #CCCCCC;
    --shadedblack: #020305;
    --mainblue: #0000EE;
    --popup: rgba(128, 128, 128, 0.15);
    --tooltip: #F5F5F5;
    --tooltipborder: #CCCCCC;
    --body: 0.75rem;
    --smallHeading: 0.938rem;
    --mediumHeading: 1.172rem;
    --largeHeading: 1.465rem;
    --verylargeHeading: 1.813rem;
    --titleHeading: 2.861rem;
}
@font-face {
    font-family: 'arketa';
    src: url(/around.a.memory/assets/font/OOArketa-Regular.otf);
}


/* 3d*/
#model1 {
    position: static;
    height: 25vh;
    width: auto;
}


  



/* styling for the desktop 16, main styling*/
@media screen and (min-width: 1300px) {

    /* navigation*/
    nav {
        position: fixed;
        padding: 12px;
        display: flex;
        flex-direction: row;
        gap: 6px;
        z-index: 10;
    }
    nav a {
        color: var(--mainblack);
        pointer-events: all;
        backdrop-filter: invert(25%);
    }

    #about {
        border: 1px var(--mainblue) solid;
        padding: 12px;
        position: fixed;
        top: 15%;
        left: 15%;
        z-index: 10;
        transition:  2s linear;
    }
    #about:hover {
        background-color: var(--mainblue);
        color: var(--mainblack);
        transition:  2s linear;
    }
    .overlay {
        display: none;
    }

    #aboutoverlay {
        width: 25vw;
        display: none;
        position: fixed;
        bottom: 12px;
        right: 12px;
        border: var(--mainblue) solid 1px;
        padding: 12px;
    }




    /* loading*/
    #loadingwrapper {
        width: 100svw;
        height: 100svh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }



    /* main content*/
    .pagewrapper {
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 100%;
    }
    #openinglinks {
        height: 200vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 12px;
        position: relative;
        padding-top: 50vh;
    }
    #openinglinks a {
        text-decoration: underline;
        font-size: var(--mediumHeading);
        color: var(--mainblue);
    }
    .onboardingwrapper {
        position: fixed;
        top: 12;
        right: 12;
        width: 25svw;
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        border: 1px var(--mainblue) solid;
    }

    #opening {
        height: 100svh;
        width: 100svw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 12px;
        position: relative;
    }

    #links {
        height: 200vh !important;
    }
    #linkswrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }
    .fakelinks {
        font-size: var(--mediumHeading);
        text-decoration: underline;
        color: #0000EE;
        text-align: start;
    }

    /*observer*/
    #three {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
    }

    #pwrapperobserver {
        padding: 12px;
        display: flex;
        flex-direction: column;
        flex: 0.3;
        justify-content: center;
        align-items: center;
    }
    #models{
        flex: 0.7;
        display: flex;
        flex-direction: column;
        border: 1px solid var(--mainblue);
    }
    #firstcnc {
        width: 100%;
        height: 50%;
        border: 1px solid var(--mainblue);
        background-color: var(--shadedwhite);
    }
    #secondcnc {
        width: 100%;
        height: 50%;
        border: 1px solid var(--mainblue);
        background-color: var(--shadedwhite);
    }


    

}



  
  