body {
    background: #111;
    color: #fff;
    font-family: sans-serif;
  }

  .pagewrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .chat-container {
    width: 50%;
    height: 50vh;
  }

