:root {
  /* color variables */
  --pink:#FD02B2;
  --orange:#FD9600;
  --purple:#9751BD;
  --green:#688600;
  --blue:#058CFC;
  --grey:#E8E2DF;
  --black:#000000;
  --white:#FFFFFF;
  --lilac: #9B9AFC;
  --peachy: #FC82C5;
  --yellow: #D8FD28;
     

  /* typography */
  --small: 10px;
  --body: 16px;
  --H6: 26px;
  --H5: 42px;
  --H4: 68px;
  --H3: 110px;
  --H2: 177px;
  --H1: 287px;
}
* {
  line-height: 0.8;
  letter-spacing: 0;
  box-sizing: border-box;
}

/*typography added*/
@font-face {
  font-family: 'Diatype';
  src: url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Thin-Trial.woff2') format('woff2'),
       url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Thin-Trial.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Diatype';
  src: url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Light-Trial.woff2') format('woff2'),
       url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Light-Trial.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Diatype';
  src: url('/assets/type/ABC Diatype IRP/ABCDiatype-Regular-Trial.woff2') format('woff2'),
       url('/assets/type/ABC Diatype IRP/ABCDiatype-Regular-Trial.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Diatype';
  src: url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Medium-Trial.woff2') format('woff2'),
       url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Medium-Trial.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Diatype';
  src: url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Bold-Trial.woff2') format('woff2'),
       url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Bold-Trial.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Diatype';
  src: url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Heavy-Trial.woff2') format('woff2'),
       url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Heavy-Trial.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Diatype';
  src: url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Black-Trial.woff2') format('woff2'),
       url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Black-Trial.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Diatype';
  src: url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Ultra-Trial.woff2') format('woff2'),
       url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Ultra-Trial.woff') format('woff');
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}


body {
    background: #111;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
  }

.pagewrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.chat-container {
    width: 50%;
    height: 50vh;
}

/*this is for the iphone 8 Plus */
@media screen 
and (device-width:414px) 
and (device-height: 736px) {

  *, *::before, *::after {
    box-sizing: border-box;
  }
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /*overflow: hidden; /* disables scrolling */
    /*position: fixed;   /* fixes viewport in place */
    /*overscroll-behavior: none; /* prevents iOS rubber-band scrolling */
  }
  .pagewrapper {
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    background-color: white;
    color: black;
    padding: 0px 24px;
  }

  .chat-container {
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
  }

  .input-form {
    font-size: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    bottom: 0;
    display: flex;
    min-height: 25vh;
    background-color: var(--orange);
  }

  #SystemInput {
    height: fit-content;
    font-size: var(--body);
  }
  #SystemSubmit {
    height: fit-content;
  }
  
}
