html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    overflow: hidden;
    font-family: 'Sentra', sans-serif;
  }
  .poster1wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }