html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    overflow: hidden;
    font-family: 'Sentra', sans-serif;
    cursor: none;
  }
  #poster1wrapper {
    position: absolute;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    pointer-events: none;
  }
  canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
  }