* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-family: 'arketa';
    font-size: 0.9rem;
    scroll-behavior: smooth;
}
body {
    background-color: var(--mainwhite);
}

:root {
    --mainblack: #020305;
    --mainwhite: #F5F5F7;
    --shadedwhite: #CCCCCC;
    --shadedblack: #020305;
    --mainblue: #0000EE;
    --popup: #F1EEEE;
}

@font-face {
    font-family: 'arketa';
    src: url(/around.a.memory/assets/font/OOArketaTrial-Regular.otf);
}
/* no scrollbar */
::-webkit-scrollbar {
    display: none;
}


/* style for loadingdiv */
#loadingwrapper {
    width: 100svw;
    height: 100svh;
   /* cursor: none;  Hides the default cursor */
}
#loadingdiv {
    width: 100%;
    position: absolute;
    top: 50%;
    height: 24px;
    background-color: #CCCCCC;
    z-index: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#loadingtext {
    font-size: 12px;
    margin-left: 12px;
    opacity: 0;
    z-index: 2;
}





/* style for the navigation of page */
nav {
    width: 100%;
    padding: 12px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    transition: opacity 0.5s ease, transform 0.5s ease;
}
nav a {
    font-size: inherit;
    letter-spacing: 0px;
    pointer-events: all;
    cursor: pointer;
    transition: 1.5s linear;
    color: var(--mainblue);
}
nav a:hover {
    opacity: 0.1;
    transition: 1s linear;
}
#title {
    position: fixed;
    z-index: 10;
    top: 35%;
    left: 5%;
}
#about {
    position: fixed;
    z-index: 10;
    top: 15%;
    left: 45%;
}
#print {
    position: fixed;
    z-index: 10;
    top: 75%;
    left: 95%;
    rotate: 90deg;
}
#index {
    position: fixed;
    z-index: 10;
    top:85%;
    left: 30%;
    rotate: 90deg;
}
#push {
    position: fixed;
    z-index: 10;
    top:50%;
    right: 40%;
    rotate: 90deg;
}
#lastModified {
    font-size: inherit;
}


/* project */
.projectoverlay {
    width: 25svw;
    height: 100svh;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    padding: 48px;
    backdrop-filter: blur(5px);
    justify-content: space-around;
    align-items: center;
    z-index: 15;
    transition: 0.5s linear;
}
.projectoverlay.active {
    right: 0;
    transition: 0.5s linear;
}


.projectoverlay p {
    width: 100%;
}
.active {
    display: flex;
    z-index: 1;

}
#close {
    position: absolute;
    top: 12px;
    right: 24px;
    width: fit-content;
    font-size: 1.5rem;
}



/* opening */
.opening {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
#openingtext {
    font-size: 10rem;
}



/* pagewrapper */
.pagewrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    height: fit-content;
    gap: 25vh;
}
.section1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 12px 24px;
    min-height: 200svh;
    flex-grow: 1;
    justify-content: space-around;
    align-items: flex-start;
}


.section1 p {
    width: 50%;
    text-align: justify;
}


/* clone */
.clonee{
    position: fixed;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    pointer-events: none;

}


