:root {
    /* color variables */
    --pink:#FD02B2;
    --orange:#FD9600;
    --purple:#9751BD;
    --green:#688600;
    --blue:#058CFC;
    --grey:#E8E2DF;
    --black:#000000;
    --white:#FFFFFF;
  
    /* typography */
    --small: 59px;
    --body: 96px;
    --H4: 155px;
    --H3: 251px;
    --H2: 407px;
    --H1: 657px;
  }
  
  /*typography added*/
  @font-face {
    font-family: 'Diatype-Thin';
    src: url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Thin-Trial.woff2') format('woff2'),
         url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Thin-Trial.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Diatype-Light';
    src: url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Light-Trial.woff2') format('woff2'),
         url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Light-Trial.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Diatype-Regular';
    src: url('/assets/type/ABC Diatype IRP/ABCDiatype-Regular-Trial.woff2') format('woff2'),
         url('/assets/type/ABC Diatype IRP/ABCDiatype-Regular-Trial.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Diatype-Medium';
    src: url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Medium-Trial.woff2') format('woff2'),
         url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Medium-Trial.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Diatype-Bold';
    src: url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Bold-Trial.woff2') format('woff2'),
         url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Bold-Trial.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Diatype-Heavy';
    src: url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Heavy-Trial.woff2') format('woff2'),
         url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Heavy-Trial.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Diatype-Black';
    src: url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Black-Trial.woff2') format('woff2'),
         url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Black-Trial.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Diatype-Ultra';
    src: url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Ultra-Trial.woff2') format('woff2'),
         url('/IRP/oracle/public/assets/type/ABC\ Diatype\ IRP/ABCDiatype-Ultra-Trial.woff') format('woff');
    font-weight: 950;
    font-style: normal;
    font-display: swap;
  }
  
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  


.BillboardsWrapper {
    width: 100svw;
    height: 100svh;
    overflow: hidden;
}

.BillboardLogo {
    width: 100%;
    height: 100%;
    display: none;
}
.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: fit-content;
}

 
.BillboardSlogan {
    width: 100svw;
    height: 100svh;
    overflow: hidden;
    display: flex;
}

.slogan {
    width: 100%;
    height: 100%;
}
#slogan-1 {
    letter-spacing: -3px;
    padding: 350px 0 48px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: var(--orange);
}
#slogan-1 h2 {
    color: var(--grey);
    font-family: 'Diatype-Ultra';
    font-size: var(--H2);
    line-height: 280px;
    width: 1860px;
    word-wrap: break-word;
}
#slogan-1 h3 {
    color: var(--grey);
    font-family: 'Diatype-Heavy';
    font-size: var(--body);
    line-height: 80px;
}
.BottomText {
    display: flex;
    flex-direction: column;
    gap: 86px;
}
.BottomText h4 {
    color: var(--grey);
    font-family: 'Diatype-Heavy';
    font-size: var(--small);
    line-height: 50px;
}
#slogan-2 {
    letter-spacing: -3px;
    padding: 350px 0 48px 24px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: var(--purple);
}
#slogan-2 h2 {
    color: var(--grey);
    font-family: 'Diatype-Ultra';
    font-size: var(--H1);
    line-height: 450px;
    width: 1860px;
    word-wrap: break-word;
}
#slogan-2 h3 {
    color: var(--grey);
    font-family: 'Diatype-Heavy';
    font-size: var(--body);
    line-height: 80px;
}

#slogan-3 {
    letter-spacing: -3px;
    padding: 350px 0 48px 24px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: var(--pink);
}
#slogan-3 h1 {
    color: var(--grey);
    font-family: 'Diatype-Ultra';
    font-size: var(--H1);
    line-height: 450px;
    width: 1960px;
    word-wrap: break-word;
}

#slogan-3 h2{
    color: var(--grey);
    font-family: 'Diatype-Ultra';
    font-size: var(--H2);
    line-height: 300px;
    word-wrap: break-word;
}
#slogan-3 h3 {
    color: var(--grey);
    font-family: 'Diatype-Heavy';
    font-size: var(--body);
    line-height: 80px;
}